## Universidad del Valle de Guatemala
### Data Science
#### Juan Marroquin 19845
#### Carlos Raxtum 19721

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from mpl_toolkits.mplot3d import Axes3D

#### PRIMEROS 3 EJERCICIOS EN EL NOTEBOOK getInfo.ipynb

In [6]:
df = pd.read_csv('covid19.csv',encoding='utf-8')

#### Analisis Exploratorio

In [7]:
df.head()

,country,subregion,date,lat,long,confirmed,death,recoverd
0,Afghanistan,NaN,2020-01-22,33.93911,67.709953,0,0,0.0
1,Afghanistan,NaN,2020-01-23,33.93911,67.709953,0,0,0.0
2,Afghanistan,NaN,2020-01-24,33.93911,67.709953,0,0,0.0
3,Afghanistan,NaN,2020-01-25,33.93911,67.709953,0,0,0.0
4,Afghanistan,NaN,2020-01-26,33.93911,67.709953,0,0,0.0

##### Shape of dataframe

In [9]:
df.shape

(286977, 8)

##### Describe df

In [8]:
df.describe()

                 lat           long     confirmed         death      recoverd
count  284991.000000  284991.000000  2.869770e+05  2.869770e+05  2.710890e+05
mean       19.718719      22.182084  7.623394e+05  1.189195e+04  8.568111e+04
std        25.911394      77.735286  4.096779e+06  5.841957e+04  7.553919e+05
min       -71.949900    -178.116500  0.000000e+00  0.000000e+00 -1.000000e+00
25%         3.933900     -42.604300  4.120000e+02  2.000000e+00  0.000000e+00
50%        21.512583      20.939400  9.980000e+03  1.130000e+02  0.000000e+00
75%        40.463667      90.356300  1.693960e+05  2.451000e+03  1.707000e+03
max        71.706900     178.065000  9.672111e+07  1.062681e+06  3.097475e+07